{% extends 'base.html.twig' %}

{% block title %}Tous les livres{% endblock %}

{% block body %}
    <h1>Tous les livres</h1>

    <div class="m-4">
        <a type="button" class="btn btn-success" href="{{ path('app_book_new') }}">Ajouter</a>
    </div>

    {# total items count #}
    <div class="count mt-4 mb-4">
        <strong>{{ pagination.getTotalItemCount }} résultats</strong>
    </div>

    <div class="book-card-list">
        {% for book in pagination %}
                {% include "book/_book_card.html.twig" %}
        {% else %}
            <div>Aucun résultat.</div>
        {% endfor %}
    </div>

    {# display navigation #}
    <div class="navigation mt-4 mb-4">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
