{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Ajouter un livre</h1>

    <div class="m-4">
        <a class="btn btn-outline-secondary" href="{{ path('app_book_index') }}">Retour</a>
    </div>

    {{ include('book/_form.html.twig') }}

{% endblock %}
